body{
  /* background: #f9f8ed; */
  color: #635d5d;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  /* margin: 0; */
 /*background-image: url('assets/code2.svg');*/

background-size: 60%;
background-repeat: no-repeat;
background-position: 100%,0%;
/* max-width: 100%; */
/* background-color: #f5f5f5; */
background-color: white;
}
p{
  font-size:20px;
  font-weight:100;
  line-height:30px;
  /*background: rgb(255,255,255,0.6);*/
}
#scope_img{
  width:50%;
  margin-right:5%;
}
#scope_table{
  width:50%;
  height: 300px;
  padding:0;
  margin:0;
  margin-left:30px;
  /*background: rgb(255,255,255,0.6);*/
}
.scope_item{
  margin-bottom:10px;
  height:50px;
  border-bottom: 5px solid rgb(220,240,220);
  background:transparent;
  padding:10px;
  padding-top:10px;
  /*border-bottom-style: dashed;*/
  /*box-sizing:border-box;*/
  /*border-radius:5px;*/
  display:inline-block;
  cursor:pointer;
  /*background:#5f995f;*/
  color:rgb(50,50,50);
  /*text-align:right;*/
  /*width:400px;*/
  /*min-width:50%;*/
  margin-right:10px;
  font-weight:900;
  font-size:20px;
  /*display:inline-block;*/
  
}
.img_cont{
  width:30px;
  text-align:center;
  /*border-left: 4px dashed rgb(255,255,255,0.6);*/
  padding-left:5px;
  
}
.scope_item:hover{
  /*background: rgb(230,240,230, 0.6);*/
  /*border-left: 2px solid rgb(230,240,230, 0.6);*/
}
.item_title{
  padding:0;
  margin:0;
  vertical-align: super;
  font-weight: 900;
  display:none;
  /*margin-left:20px;*/
}
.img_cont, .item_title{
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
  
}
#scope_side{
  width:30%;
  /*margin-top:50px;*/
  font-size:20px;
  /*line-height:28px;*/
  font-weight:100;
  /*float:right;*/
}
#scope_side p{
  line-height:28px;
}
#scope_left{
  float:left;
  width: 50%;
}
#scope_side h1{
  margin:0;
  padding:0;
  width:100%;
  margin-bottom:50px;
}
#scope_left,#scope_right{
  /*display:inline-block;*/
}
#scope_table, #scope_side{
  /*display:content;*/
  display:inline-block;
  vertical-align:top;
}
#scope_right{
  width:calc(100% - 300px);
  float:right;
  background:white;
  border-radius:10px;
  /*border:1px solid black;*/
  height:100%;
}
.item_img{
  height:80%;
}

.sepa{
width:100%;

height:40px;
position:relative;}

.sepa:after{
  content: "";
      position: absolute;
      /* border-top: 4px dashed rgb(100,150,100); */
      /* border-top-style: dashed; */
      width: 90%;
      margin-top: 20px;
      margin-left: 5%;
      transform: rotate(-2deg);
      /* transform-origin: 50% 10%; */
}
.r{
  /* transform: rotate(-176deg);  */
  transform: rotate(4deg);

   /* transform: rotate(185deg); */

}
#background{
  position: absolute;
  top:-10;
  left: 40%;
  /*height:100vh;*/
  z-index: -1;
  width: 60%;
  opacity: 0.2;
}
h1{
  font-weight: 500 !important;
  font-size: 2.5em;
}
header{
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  /* text-align: center; */
  /* text-transform: uppercase;s */
  background:white;
  height:60px;
  vertical-align: middle;
  font-size: 22px;
  line-height: 30px;
  padding:15px;
  box-sizing: border-box;
  padding-left: 50px;
  font-weight: 500;
  /* color:#6a9c78; */
}
#promo{
  /* margin-top: 5px; */
  display: grid;
}
#benefits, #form{
  /* height: 80vh; */
  /* text-align: right; */
  margin-left:100px;
  /* display: inline-flex; */
}
#benefits{
  display: block;
}
#background_mobile{
  display: none;
}
#script{
  /* height:90vh; */
  /* text-align: right; */
  margin-left:5%;
}
#left{
  padding-top:10px;
  /* margin-top: 50px; */
  float: left;
  width: 70%;
  margin-left: 100px;
  min-height: 75vh;
  position: relative;
}
.q{
  line-height: 10px !important;
  vertical-align:-webkit-baseline-middle;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin-left: -5;
  padding-left: 0;
  width: 0;
  height: 0;
  margin-bottom:-5px;
  color: lightgreen;
}
#quotes{
  position:absolute;
  padding: 10px;
  /* color: rgb(100,150,100); */
  /* font-style: italic; */
  top: 50px;
  /* font-weight: 100; */
  height: 70vh;
  right: 50px;
  /*background: rgb(255,255,255,0.8);*/
  border-radius: 10px;
  height: 200px;
  width: 400px;
  line-height: 30px;
  font-size:20px;
}
.card{
  display: inline-block;
  /* background: white; */
  border-radius: 10px;
  /* height: 400px; */
  width: 15%;
  margin-right: 4%;
  box-sizing:border-box;
  opacity: 1.9;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
}
.card:hover{
  /* padding-top:20px; */
}
h1, h2, h3{
  font-weight: 100;
  width: 50%;
  /* color: white; */
  /* background: rgb(240,250,240,0.8); */
  padding:10px;
}
.arrow{
  width:50px; margin-bottom:150px; margin-left: -30px; margin-right:10px;
  opacity: 0.5;
}
#icons{
  /* float: left; */
  /* width: 400px; */
/* margin:0 auto; */
/* margin-left:-100px; */
width:100%;
padding: 20px;
/* background: rgb(230,240,230, 0.5); */
}
#sep{
  width:180px;
  /* position: absolute; */
  bottom:10px;
  margin-top: 50px;
}
#devsep{
  /* width:400px; */
  height: 20vh;
}
#icon_des{
  display:block;
  width:200px;
}
.description{
  height: 200px;
  width: 100%;
}
.pic{
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%; */
  margin-left:50px;
  height: 300px;

}
h2{
  font-weight: 100;

}
.info_card{
  display: inline-flex;
  width: 47%;
  height: 35%;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.info_pic{
  /* display: flex; */
  /* display: flex; */ */
  height: 100%;
  border-radius: 5px;
  background: #93c47d;
  /*background: rgb(160,220,160, 0.5);*/
  width: 40%;
  margin: 0;
  box-sizing: border-box;
}
.info_text{
  display: table;
  height: 100%;
  /* line-height: 40px; */
  padding:10px;
  font-size:16px;
  font-weight: 100;
  width:50%;
  margin:0;
  box-sizing: border-box;
  padding-left: 30px;
}
.info_text_inner{
  display: table-cell;
  vertical-align: middle;
  color: rgb(50,50,50)
}
.pic_title{
  /* position: relative; */
  /* top: 80%; */
  /* left: 20%; */
  /* right: 40%; */
  /* width: 100%; */
  /* height: 100px; */
  /* width: 300px; */
  text-align: center;
  margin-top:4%;
  font-size: 20px;
  font-weight: 400;

}
.info_pic img{
  width:56%;
  margin-left: 22%;
  margin-top: 5%;
  /* opacity: 0.95; */
  vertical-align: top;
  /* filter: brightness(98%); */
}
#google{
  /* background: rgb(253,255,253, 0.8); */
  margin: 0 auto;
  /* margin-right: 10%; */
  margin-left: -3%;
  width: 100%;
  padding-top:40px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  border-radius: 20px;
  text-align: center;
}

.automation_process{
  width: 70%; float:right; max-height: 80vh; margin-right:0%;
}
#script{
  display:inline-block
}
#automate_title{
  width:30%;margin:0;margin-top:50px; margin-left:50px;
  color: #393c3a;
  font-weight: 400;
}
#header{
  /* background: rgb(230,240,230, 0.5); width: 40%; */
}
#subheader{
  /* background: rgb(230,240,230, 0.5); width: 15%; */
}
#automation_sub{
  font-size:20px;
  margin-left: 60px;font-weight: 100;text-align: left;margin-top:50px;line-height: 27px;
}
#automation_title_mobile{
  width:30%;margin:0;margin-top:50px; margin-left:50px;
  display:none;
  color: #393c3a;
}
#regret{
  /* margin-right:-20%; */
  margin-left: 20px;
   /* padding:10px 20px 10px 20px; */
/* width: 90%; */
font-weight: 400;
color: #393c3a;
/* background: rgb(230,240,230, 0.5); */
/* padding:10px; */
  margin-bottom: 0;
width: auto;
}
#form{
  /*margin-left: 110px;*/
  padding-left: 30px;
  display:inline-block;
  /* border: 3px dashed rgb(180,220,180); */
  /*background: rgba(149, 188, 210, 0.2);*/
  width:80%;margin-bottom:100px; padding-bottom:30px;
}
#form_title{
  width:35%;
  /*height:100px;*/
  margin-bottom:70px;
  /* line-height: 57px; */
  padding: 0;
  float:left;
  color:white;
  /* border-bottom: 3px dashed rgb(200,200,200) */
}
.x{
  vertical-align: middle;
  font-size: 70px;
  color: green;
  color: white;
}
.icon_sub{
  font-weight: 100;
  /* margin-left:84px; */
  margin-bottom:30px;
  /* max-width:60%; */
  font-size: 20px;
  margin-top:2px;
  /*background: rgb(280,280,280,0.6);*/
  padding: 10px;
  line-height: 30px;
  font-weight: 100;
}
.benefit{
  background: white;
  border-bottom: dashed 3px black;
  padding:20px;
  border-radius: 2px;
  width: 40%;
}
.icon_title{
  /* margin-top:20px; */
  /* padding-top:0px; */
  /* font-weight: bold; */
  /* border-bottom: 2px dashed rgb(100,120,100); */
  font-size: 26px;
  /* font-weight: 400; */
  margin-right: 20px;
  margin-left: 15px;
}
.y{
  border-bottom: none !important;
}
#benefits_left{
  width:40%;
}
#benefits_right{
  padding-top:50px;
  padding-bottom:50px;
  display: block;
  color:white !important;
  /* float:right; */
  /*background: rgb(255,255,255,0.4);*/
  /* padding-left: 30px; */
  /* margin-left: 10%; */
  /*margin-left: 130px;*/
}
#form_sub{
  font-weight:100;
  width: 40%;
  margin: 0;
  float:left;
  /*margin-left:20px;*/
  color:white;
  font-size: 20px;
}
#form_msg{
  width:100%;
  height:100%;
  /* border: 3px solid rgb(200,230,200); */
  border:none;
  border-radius: 3px;
  font: inherit;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  padding: 30px 40px;
   background: rgb(252,252,252,0.8);
  /*background: white;*/
  border-radius: 2px;
  font-style: italic;
  color: rgb(100,100,100);
  line-height: 28px;
  
  }
  #inner_footer{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  #footer{
    /* text-align: center; */
    display: table;
    display: none;
    height:70px;

    background: white;
    border-bottom: 1px solid #eee;
     box-shadow: 0px 0 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding:5px;
    padding-left: 30px;
    box-sizing: border-box;
    }
    .footer_items{
      /* margin: 0 auto; */
      /* text-align: center; */
      width: 100%;
      /* display: inline-flex; */
    }
    .footer_item{
      margin: 0px 20% 0 5%;
    }
    #mobile_sub{
      display: none;
    }
    #scope{
      margin-left: 100px;
    }
    #scope_title{
      margin-left: 20px;
      padding: 10px;
      color:#393c3a;
    }
    .image{
      width: 20%;
      margin-left: 0px;
      margin-bottom:20px;
    }
    #cards{
      margin-left: 100px;
      margin-bottom:100px;

    }
    .card{
      /*background: rgb(255,255,255,0.5);*/
      /* border-bottom: dashed 3px orange; */
      margin-bottom: 0px;
      padding:20px;
      border-radius: 2px;
      width: 40%;
    }
    .card_title{
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .card_txt{
      width:70%;
      font-size: 20px;
      font-weight: 100;
    }
    #review{
      margin-left:100px;
    }
    #review h1{
      margin-left: 30px;
      color:#393c3a;
    }
    button{
      width:auto;
      padding:10px 24px;
      background: white;
      color:green;
      border:none;
      margin-bottom: 50px;
      margin-left: 10px;
      font-size: 17px;
      border-radius: 2px;
      /* text-transform: lowercase; */
      /* font-weight: 900; */
      cursor: pointer;
        /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
        outline:none;
    }
    .passive{
      border: 1px solid #e1e1e1;
      color:inherit;
    }
    .active{
      background: #4ca722;
      /* color:inherit; */
      color:white;
    }
    #scope{
      margin-top:50px;
    }
    #send{
      position:absolute;
      bottom:20px;
      right:20px;
      margin-bottom:0;
      
    }
    #msg_cont{
      display:inline-block;
      position:relative;
       float: right;
  margin-right: 100px;
  margin-top: 30px;
  width: 35%;
  height: 500px;
    }
    #prices{
      width:50%;
    }
@media only screen and (max-width: 600px) {
  #scope_table{
    margin-left:0;
    width:100%;
  }
  .scope_item{
    width:100%;
    font-size:17px;
  }
  #footer
  {
    width:100%;
  }
  #scope_title{
    width:70%;
    margin-left: 0px;
  }
  #benefits .card{
    width:80%;
  }
  #scope{
    margin-left:30px;
  }
  #cards{
    margin-left: 10px;
  }
  #benefits_right{
    margin-left: 20px;
  }
  .icon_top{
    margin-left: 0;
  }
  .card{
    width: 100%;
  }
  #benefits_left{
    width: 100%;
  }
  h1{
    font-size: 2.2em;
  }
  #background_mobile{
    position: absolute;
    top:15%;
    left: 10%;
    height:auto;
    z-index: -1;
    width: 90%;
    display: unset;
    opacity: 0.2;
  }
  #automate_title{
    display: none;
  }
  #automation_title_mobile{
    display: INLINE;
    width:80%;
    margin-top:-30px;
    margin-bottom:60px;
    margin-left: 30px;
  }
  #regret{
    width:calc(100% - 30px);
    padding: 0;
  }
  #icons{
    padding:0;
  }
  #automation_sub{
    margin-left:30px;
    width: 90%;
  }
  #benefits{
    margin-left: 30px;
  }
  #info_cards{
    height:600px;
    width:100% !important;
  }
  icons{}
    .info_text{
      width:100%;
      height:auto;
    }
    .info_text_inner{
      width:100% !important;
    }
  .info_card{
    width:100%;
    display:contents;
  }
  .info_pic{
    width:50%;
    text-align: left;
    background: rgb(255,255,2550,0.1)
    padding:15px 20px;
    margin-top:0;
  }
  .info_pic img{
    margin-top:0;
    display:none;
  }
  .pic_title{
    margin-top: 0;
    text-align: left;
  }
  #subheader{
     width:40%;
  }
  #header{
    width:80%;
    margin-top:0;
  }
  #automate_title{
    width:80%;
    margin-left: 20px;
  }
  #script{
    display: contents;
    width: calc(100% - 30px)
  }
  .automation_process{
    width:100%;

  }
  body {
    /* background-color: lightblue; */
    max-width: 100vw;
    overflow-x: hidden;
  }
  #quotes{
    font-size:10px;
    line-height: 10px;
    width: 50%;
    bottom:0;
    left:0;
    display: none;
  }
  #background{
    position: absolute;
    display: none;
    top:-10;
    left: 30%;
    object-fit: cover;
    /* right:-160%; */
    height: auto;
    z-index: -1;
    width: 200%;
    /* transform:scale(2); */
    opacity: 0.25;
  }
  #sep{
    /* margin-top: */
    /* width: 60%; */
  }
  #devsep{
    margin-left: -2%;
    width:100%;
  }
  #promo{
    max-width:100%;
  }
  .card{
    /* width:49%; */
    margin:0;
    /* margin-right: 2%; */
    height: auto;
  }
  .arrow{
    display: none;
  }
  #promo{
    background: rgb(255,255,255,0.6);

  }
  #left,#benefits,#form,#script{
    margin-left: 20px;
    width: calc(100% - 30px);
    /* max-width: 80%; */
    /* height: 100vh; */
    /* margin-bottom:80px; */
  }
#left{
  height: 90vh;
}

  #left{
    margin-top:0;
  }

  #icons{
    width:100%;
  }
  .pic{
  width:100%;
  margin-bottom:10px;
  height:auto;
  margin-left: 0px;
  }
  .benefit{
    width: 100%;
    display: contents;
  }
  #benefits_right{
    /* width: 100%; */
    /* display: block; */
    padding: 0;
    /* margin-left:200px; */
  }
  .icon_sub{
    width:100%;
    margin-left: 0;
    margin: 0 auto;
  }
  .icon_title{
    margin: 0 auto;
    margin-left: 10px;
    text-align: center;
    border:none;
    font-weight: bold;
  }
  .icon_top{
    /* text-align: center; */
    margin: 0 auto;
    width: auto;
    /* margin-left:15px; */
    margin-top:10px;
  }
  #form{
    margin-bottom:0;
    margin-left:0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
  }
  #form, #benefits, #left{
    box-sizing: border-box;
  }
  #form_sub{
    display: none;
  }
  #form_msg{
    margin:0;
    float:left;
    width:90%;
    height:60vh;
    /*color:white;*/
  }
  #msg_cont{
    width:100%;
    margin:0;
  }
  #mobile_sub{
    display: block;
    max-width: 60%;

  }
  #form_title{
    width: 100%;
  }
  #prices{
    width:90%;
  }
  h5{
    font-weight: 100;
    font-size:20px;
  }
  .footer_item{
    margin: 0 15% 0 0%;
  }
  #scope_img{
    width:90%;
  }
  #scope_side{
    width:90%;
  }
  #send{
    right: 30%;
    bottom:10%;
  }
  #benefits_right{
    color:inherit !important;
  }
  .x{
    color:inherit !important;
  }
}
